extends ./../layout.jade
         
block append body

    div.container.userForm(id="dashboards")
        h1 Le mie dashboard
        hr
        
        if systemMember
            div.container-fluid.row
                a.btn.btn-default.col-md-4.col-lg-4.col-md-offset-4.col-lg-offset-4.col-sm-8.col-xs-8.col-sm-offset-2.col-xs-offset-2(href="/dashboard/system") Sistema
                    
        hr
        each channel in channels
            p
                div.container-fluid.row
                    a.btn.btn-default.col-md-4.col-lg-4.col-md-offset-4.col-lg-offset-4.col-sm-8.col-xs-8.col-sm-offset-2.col-xs-offset-2(href="/dashboard/channel?id=" + channel.id) #{channel.name}
            
        hr
        div.row
            div.alert.alert-warning(role="alert")
                strong Attenzione: 
                | non aprire più di una dashboard alla volta o potrebbero andare in conflitto tra loro!