{
    "project": {
        "name": "WEB RADIO",
        "description": "tesina Gastaldi Paolo"
    },
    
    "system": {
        "maxClients": 100,
        "serverPort": 8080
    }, 
    
    "systemUser": {
        "password": "system"
    },
    
    "databaseConnection": {
        "host": "localhost",
        "port": "3306",
        "database": "webradio",
        "user": "paologastaldi",
        "password": ""
    },
    
    "keysPath": {
        "privateKey": "httpsData/privateKey.pem",
        "publicCertificate": "httpsData/cert.pem"
    }
}