{
    "project": {
        "name": "WEB RADIO",
        "description": "tesina Gastaldi Paolo"
    },
    
    "system": {
        "maxClients": 100,
        "serverPort": 2222
    }, 
    
    "systemUser": {
        "password": "system"
    },
    
    "databaseConnection": {
        "host": "localhost",
        "port": "3306",
        "database": "inf-5ogruppo3",
        "user": "inf-5ogruppo3",
        "password": "server0."
    },
    
    "keysPath": {
        "privateKey": "httpsData/privateKey.pem",
        "publicCertificate": "httpsData/cert.pem"
    }
}
