extends ./../layout.jade
 
block append body
    div.container.userForm(id="signup")
        h1 Registrati
        hr
        
        form.container-fluid(id="frmSignup", method="post", action="/account/addUser", role="form", data-toggle="validator")
            div.form-group
                label(for="txtFirstName") Nome
                input.form-control(type="text", id="txtFirstName", name="txtFirstName", placeholder="Nome")
            div.form-group
                label(for="txtLastName") Cognome
                input.form-control(type="text", id="txtLastName", name="txtLastName", placeholder="Cognome")
            div.form-group
                label(for="txtEmail") Email *
                input(type="email", class="form-control", id="txtEmail", name="txtEmail", placeholder="Email", required)
            div.form-group(data-toggle="validator")
                div.form-group
                    label(for="txtPassword") Password (8-20 caratteri) *
                    input.form-control(type="password", id="txtPassword", name="txtPassword", placeholder="Password", data-toggle="validator", pattern=".{8,20}", required)
                div.form-group
                    label(for="txtConfirmPassword") Conferma password *
                    input.form-control(type="password", id="txtConfirmPassword", name="txtConfirmPassword", placeholder="Conferma password", data-match="#txtPassword", data-match-error="Whoops, le password non coincidono", pattern=".{8,20}", required)
            div.form-inline.form-group
                div.container-fluid
                        input.form-control(type="checkbox", id="chkRememberMe", name="chkRememberMe", style="margin-right:1%;", checked)
                        span Ricordami al prossimo accesso
            div.form-group
                p Sono d'accordo con i 
                    a(href="/website/privacy") Termini di servizio
            input.btn.btn-default.col-md-4.col-lg-4.col-md-offset-4.col-lg-offset-4.col-sm-8.col-xs-8.col-sm-offset-2.col-xs-offset-2(type="submit", value="Registrati")