extends ./systemDashboardLayout.jade

block append head
    script(type='text/javascript').
        var page = "#genres";

block append content
    div.container-fluid(id="genres")
        h1 Generi
        hr
        
        div.row
            form.form-inline.row.container-fluid(method="POST", role="form", action="/dashboard/system/addGenre")
                div.form-group.row.col-lg-4.col-md-4
                    label(for="txtName") Nome
                    input.form-control(type="text", name="txtName", placeholder="Nome", required)
                input.btn.btn-default.col-lg-4.col-md-4.pull-right(type="submit", value="Aggiungi")
        hr
        div.row
            table.table.table-striped(style="color:black;")
                thead
                    tr
                        th Nome
                        th
                        th
                        th
                        th
                tbody
                    each genre in genres
                        tr
                            form.form-inline.row.container-fluid(action="/dashboard/system/modifyGenre" method="POST")
                                input(type="hidden", name="txtGenreId", value= genre.id)
                                td
                                    input.form-control(type="text", name="txtName", placeholder="Nome", value= genre.name, required)
                                td
                                    input.btn.btn-default(type="submit" value="Modifica")
                                    
                            form.form-inline.row.container-fluid(method="POST", role="form", enctype='multipart/form-data', action="/dashboard/system/modifyGenreThumbnail")
                                input(type="hidden", name="txtGenreId", value= genre.id)
                                td
                                    input.btn.btn-file.btn-default(type="file", name="genreThumbnail", id="genreThumbnail", accept=".jpg")
                                td
                                    div.form-group
                                        input.btn.btn-default(type="submit", value="Cambia thumbnail")
                            td
                                form.form-inline.row.container-fluid(action="/dashboard/system/removeGenre" method="POST")
                                    input(type="hidden", name="txtGenreId", value= genre.id)
                                    input.btn.btn-default(type="submit" value="Rimuovi")