extends ./systemDashboardLayout.jade

block append head
    script(type='text/javascript').
        var page = "#settings";

block appen body
    fieldset
            legend System settings
            p settings //IMPORTANT: ?